@use "@/assets/styles/foundation/variables" as v;
@use "@/assets/styles/foundation/functions" as f;
@use "@/assets/styles/foundation/mixin" as m;
@use "@/assets/styles/foundation/animation" as a;

/*=======================================
  ヘッダー
=======================================*/
#header {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  // mix-blend-mode: difference;
  pointer-events: none;
  // padding: 0 v.$body_pd;

  .pc_header {
    @include m.content_width(1100px);
    height: v.$header_height;
    padding: 0 f.clamp_prf(30px, 50px) 0 f.clamp_prf(30px, 84px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    // background-color: v.$yellow;
    border-radius: 0 0 16px 16px;
    @include m.tab {
      padding: 0 0 0 f.clamp_prf(30px, 30px);
    }
  }


  .pc_header_l {
    // position: absolute;
    // top: 50%;
    // left: f.clamp_prf(16px, 34px);
    // transform: translateY(-50%);
    // z-index: 20;
    // margin-top: f.clamp_prf(4px, 10px);
    .logo_anchor {
      pointer-events: auto;
      display: block;
      width: f.clamp_prf(220px, 280px);

      img {
        width: 100%;
        height: auto;
      }
      @include m.sp {
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .pc_header_r {
    // z-index: 11;
    display: flex;
    gap: f.clamp_prf(24px, 44px);
    width: fit-content;
    // justify-content: flex-end;
    // align-items: center;

    // margin-right: f.clamp_prf(30px, 40px);
    @include m.sp {
      display: none;
    }
    .header_link {
      transition: 0.3s;
      font-size: f.clamp_prf(14px, 16px);
      // letter-spacing: 0.05em;
      font-weight: v.$fw_medium_500;
      // color: #eee;
      pointer-events: auto;

      letter-spacing: 0.4em;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
#header_toggle {
  // 線の位置や幅はここで調整
  display: none;
  position: absolute;
  top: 4px;
  right: 0;
  margin-right: 10px;
  width: 60px; // タップできる範囲の設定
  height: 60px; // タップできる範囲の設定
  cursor: pointer;
  pointer-events: auto;
  z-index: 20;
  @include m.sp {
    display: block;
  }
  span {
    display: block;
    position: absolute;
    background: v.$white;
    // background: #fff;
    transition: 0.6s cubic-bezier(0.59, 0.33, 0.49, 1);
    width: 24px;
    height: 1px;
    border-radius: 100vh;
  }
  // 横棒
  $header_toggle_top: 20px;
  $header_toggle_top_offset: 10px;
  $header_toggle_right: 18px;
  span:nth-child(1) {
    top: $header_toggle_top;
    right: $header_toggle_right;
  }
  span:nth-child(2) {
    top: calc($header_toggle_top + $header_toggle_top_offset);
    right: $header_toggle_right;
  }
  span:nth-child(3) {
    top: calc($header_toggle_top + ($header_toggle_top_offset * 2));
    right: $header_toggle_right;
  }
  &.active span:nth-child(1) {
    transform: translate(0, 10px) rotate(225deg);
  }
  &.active span:nth-child(2) {
    transform: translate(50px, 0) scale(0);
  }
  &.active span:nth-child(3) {
    transform: translate(0, -10px) rotate(-225deg);
  }
}
#sp_menu {
  display: none;
  height: calc(f.dvh(100));
  height: 100dvh;
  width: 100%;
  // transition: all 0.2s ease-in-out;
  // background: v.$gradation_secondary;
  padding: f.clamp_prf(20px, 40px); // headerのpaddingを合わせる
  position: fixed;
  top: 0;
  left: 0;
  // transform: translate(0, 0);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  mix-blend-mode: hard-light;
  // background: #000;
  // color: #fff;
  &:before {
    width: 180px;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(-90deg, #115872ff 0%, #115872ee 30%, #11587211 80%, #11587200 100%);
    z-index: -1;
  }
  @include m.sp {
    display: block;
  }
  &.active {
    @include m.sp {
      // visibility: visible;
      // opacity: 1;
      // pointer-events: auto;
    }
  }
  .menu_inner {
    visibility: inherit;
    opacity: inherit;
    margin-top: calc(v.$header_height + f.clamp_prf(10px, 20px));
    // margin: clamp(70px, calc(9vh + 8vw), 110px) auto 0; // 端末の高さは横幅にも比例しがちなのでvhとvwを足す
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: clamp(30px, 6vw, 50px);
    // max-width: 160px;
    width: 100%;
    padding: 0 0.5em;
    align-items: flex-end;
    .link_wrapper {
      display: block;
      width: fit-content;
      // 日本語縦書き
      writing-mode: vertical-rl;
      text-orientation: upright;
      letter-spacing: 0.3em;
    }
    // .link_name {
    //   font-size: f.clamp_prf(26px, 70px);
    //   // font-weight: v.$fw_semibold_600;
    //   font-weight: v.$fw_bold_700;
    //   display: inline-block;
    // }
    // .link_name_ja {
    //   display: block;
    //   font-size: clamp(10px, 2vw, 12px);
    //   margin-top: clamp(10px, 2vw, 12px);
    //   width: fit-content;
    // }
  }
  // .c__sns_service_icon {
  //   margin-top: 10px;
  //   width: clamp(24px, 4vw, 30px);
  //   height: clamp(24px, 4vw, 30px);
  //   img {
  //     width: 100%;
  //     height: auto;
  //   }
  // }
  // .sp_menu_bottom_copyright {
  //   position: absolute;
  //   font-weight: v.$fw_medium_500;
  //   font-size: clamp(10px, 1.5vw, 12px);
  //   bottom: 24px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   width: 100%;
  //   text-align: center;
  //   word-break: normal;
  //   line-height: 1.5;
  // }
}
#pagetop_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  width: f.clamp_prf(40px, 60px);
  height: f.clamp_prf(40px, 60px);
  opacity: 0;
  border-radius: 100vmax;
  transition: 0.4s ease-in-out;
  // opacity: 1;
  pointer-events: none;
  transform: translateY(10px);
  // position: relative;
  display: grid;
  place-items: center;
  margin: 0 auto;
  &.active {
    pointer-events: auto;
    cursor: pointer;
    transform: translateY(0px);
    opacity: 1;
    @include m.tab {
      // bottom: 22px;
    }
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100vmax;
    // background-color: v.$letter_primary;
    transition: 0.3s ease;
    background-color: #ffffff55;
    backdrop-filter: blur(4px);
    // mix-blend-mode: soft-light;
    // opacity: 0.2;
  }
  .arrow {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: auto;
    // font-size: 30px;
    transform: translate(-50%, -50%);
    transition: 0.15s ease;
    // color: v.$white;
  }
  // @include m.hover_device {
  //   &:hover {
  //     .arrow {
  //       transform: translate(-50%, -65%);
  //     }
  //   }
  // }
}

/*=======================================
  フッター
=======================================*/
#footer {
  width: 100%;
  // background: v.$yellow;

  position: relative;
  padding: f.clamp_prf(80px, 120px) 0 f.clamp_prf(60px, 60px);
  overflow: hidden;
  // border-top: 1px solid v.$gray;
  // display: grid;
  // place-items: center;
  // margin: 0 auto;
  z-index: 5;

  .footer_elipse {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 200%;
    height: auto;
    max-width: none;
    // max-width: 100vw;
    // max-height: 100vh;
    // object-fit: cover;
    // clip-path: ellipse(217vh 100vh at 50% 20%);
    // clip-path: ellipse(217vh 100vh at 50% 0%);
    @include m.tab {
      height: 200%;
      width: auto;
    }
    @include m.sp {
      height: 145%;
      width: auto;
    }
  }

  .footer_navigation {
    @include m.content_width(1000px);
    position: relative;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 2rem;
    @include m.sp {
      align-items: flex-start;
    }

    // @media (max-width: 1024px) {
    //   flex-direction: column;
    //   align-items: center;
    //   text-align: center;
    // }
  }

  .footer_left {
    flex: 1;

    @media (max-width: 1024px) {
      // order: 2;
    }

    .nav {
      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: left;

        @media (max-width: 1024px) {
          // text-align: center;
        }

        li {
          a {
            transition: color 0.2s;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .footer_center {
    flex: 1;
    display: flex;
    justify-content: center;

    @include m.tab {
      display: none;
    }

    a {
      display: block;

      img {
        width: 188px;
      }
    }
  }

  .footer_right {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 1024px) {
      // order: 3;
      // justify-content: center;
    }

    .footer_sns {
      display: flex;
      gap: 1.25rem;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;

        img {
          &:first-child {
            width: 80%;
          }
          &:last-child {
            height: 100%;
          }
        }
      }
    }
  }
  .copyright {
    @include m.content_width(1000px);

    margin-top: 2rem;
    font-size: 0.75rem;
    opacity: 0.7;
    display: none;
    @include m.sp {
      display: block;
    }
  }
}

#page_background {
  z-index: -100;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: #fff;
  transition: 0.5s;
  opacity: 0;
  // height: clamp(400px, 50vw, 450px);
  height: 100%;
  min-height: 4736px;
  // background-color: v.$lightgray;
  background: v.$bg_primary;
  &.active {
    transition: 1.5s;
    opacity: 1;
  }
}

.noise_background {
  z-index: -99;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url("/img/background_noise.png");
  background-repeat: repeat;
  background-size: 100px;
}

/*=======================================
  コンテンツ幅制御
=======================================*/
// .l__main_content {
//   padding-top: clamp(100px, 16vw, 180px);
//   padding-bottom: f.clamp_prf(100px, 200px);
//   background-color: #fff;
//   padding: v.$body_pd;
// }
.l__content_width {
  @include m.content_width(v.$content_width);
}

/*=======================================
  flex制御
=======================================*/
.l__flex_pc {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=======================================
  マウスストーカー
=======================================*/
#mouse_stalker {
  display: none;
  pointer-events: none;
  z-index: 9500;
  @include m.hover_device {
    opacity: 0.6;
    mix-blend-mode: soft-light;
    will-change: -webkit-backdrop-filter, backdrop-filter;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    &.disabled {
      opacity: 0;
    }
    position: fixed;
    top: -25px;
    left: -25px;
    width: 50px;
    height: 50px;
    // border: 2px solid #fff;
    // background: #bbbbbb;
    border-radius: 100vh;
    transform: translate(0, 0);
    transition: 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);

    // opacity: 0.6;
    filter: blur(16px);
    // background: #ffebcc;
    background: #fffc;

    // ホバーした際の挙動
    &.stalker_cursor_pointer {
      top: -40px;
      left: -40px;
      width: 80px;
      height: 80px;
      opacity: 0.3;
      filter: blur(10px);
      background: #ffffff;
    }

    &.mac_os {
      mix-blend-mode: initial;
      // -webkit-backdrop-filter: none;
      // backdrop-filter: none;
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
      filter: none;
      // filter: blur(4px);
      // background: #fff1;
      background: #fff3;
      // background: transparent;
      border: 2px solid #fff3;
      opacity: initial;
      &.stalker_cursor_pointer {
        opacity: initial;
        filter: none;
        // opacity: 0.3;
        // filter: blur(10px);
        // background: #ffffff;
        -webkit-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px);
        background: #fff1;
        border: 2px solid #fff2;
      }
    }
  }
  @include m.touch_device {
    display: none;
  }
}
