@use "@/assets/styles/foundation/variables" as v;
@use "@/assets/styles/foundation/functions" as f;
@use "@/assets/styles/foundation/mixin" as m;

/*===================================================
  アニメーションディレイ
  子要素のアニメーションにディレイをかけられる
===================================================*/
@mixin anim_delay($magnification: 0.05) {
  @for $i from 0 through 16 {
    &.delay#{$i} {
      animation-delay: #{$i * $magnification}s;
    }
  }
}
@mixin tran_delay($magnification: 0.05) {
  @for $i from 0 through 16 {
    &.delay#{$i} {
      transition-delay: #{$i * $magnification}s;
    }
  }
}

/*=======================================
  アニメーション系
=======================================*/
.c__js_fade {
  transform: translate(0, 20px);
  opacity: 0;
  transition: 0.8s cubic-bezier(0.33, 1, 0.68, 1);
  &.active {
    transform: translate(0, 0);
    opacity: 1;
  }
}

// ディレイを付けたい場合
// 親要素に c__js_fade_delay を付け、子要素に js__delay_child delay2 のようなクラスを付ける
.c__js_fade_delay {
  .js__delay_child {
    transform: translate(0, 20px);
    opacity: 0;
  }
  &.active {
    .js__delay_child {
      transform: translate(0, 0);
      opacity: 1;
      transition: 0.8s cubic-bezier(0.33, 1, 0.68, 1);
      @include tran_delay(0.08);
    }
  }
}
.js__transition {
  .js__transition_child {
    // .js__transition_child .delay3 のようにクラスを指定すると0.2 * 3 = 0.6秒遅延
    @include tran_delay(0.2);
  }
}
.js__animation {
  .js__animation_child {
    // .js__animation_child .delay3 のようにクラスを指定すると0.2 * 3 = 0.6秒遅延
    @include anim_delay(0.2);
  }
}

// あくまで表示非表示の切り替えのみ行う
// 読み込み時の高さの確保は各コンポーネントに任せる
// .c__loading {
//   opacity: 0;
//   pointer-events: none;
//   // height: 50vh;
//   transform: translate(0, 10px);
//   transition: 0.5s ease;
//   &[data-is-loading="false"] {
//     transform: translate(0, 0) scale(100%);
//     opacity: 1;
//     pointer-events: auto;
//     height: auto;
//   }
// }

[data-is-visible="false"] {
  opacity: 0;
  pointer-events: none;
  // height: 50vh;
  transform: translate(0, 10px);
  transition: 0.5s ease;
  // margin: 0;
}
[data-is-visible="true"] {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
  // height: auto;
  transition: 0.5s ease;
}

.c__loading {
  font-size: f.clamp_prf(14px, 16px);
  font-weight: v.$fw_semibold_600;
  &[data-is-visible="true"] {
    transform: translate(0, -10px);
    height: 1em;
  }
  &[data-is-visible="false"] {
    transform: translate(0, -20px);
    height: 0;
  }
}

@mixin hover_underline($color: v.$letter_primary) {
  position: relative;
  transition: 0.3s cubic-bezier(0.24, 1.8, 0.61, 1);
  &:before {
    content: "";
    position: absolute;
    bottom: -0.33em;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: right;
  }
  &.active {
    &:before {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
  @include m.hover_device {
    &:hover {
      transform: scale(1.03);
      // &:before {
      //   transform: scaleX(1);
      //   transform-origin: left;
      // }
    }
  }
}

.transition_container {
  // opacity: 0;
  // min-height: 100vh;
}

.loading_overlay {
  pointer-events: auto;
  // background: v.$letter_primary;
  background: v.$lightgray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  .claw_wrapper {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .claw {
    position: absolute;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%) skewX(v.$skew_deg);
    width: 16px;
    height: 80px;
    object-fit: contain;
    background-color: #fff;
    opacity: 0;
    &.first {
      left: calc(50% - 32px);
      // transform: translate(calc(-50% - 32px), -50%);
    }
    &.second {
      // transform: translate(-50%, -50%);
    }
    &.third {
      // transform: translate(calc(-50% + 32px), -50%);
      left: calc(50% + 32px);
    }
    // .claw {
    //   width: 100%;
    //   height: 100%;
    // }
  }
}










































// @keyframes hero-gradient-animation {
//     0% {
//         --c-0: hsla(0, 0%, 100%, 0.67);
//         --y-0: 93%;
//         --x-0: 93%;
//         --s-start-0: 14.489998991212337%;
//         --s-end-0: 72%;
//         --s-start-1: 2.9253667596993065%;
//         --s-end-1: 22.388851682060018%;
//         --c-1: hsla(0, 0%, 7%, 0.55);
//         --y-1: 90%;
//         --x-1: 89%;
//         --x-2: 40%;
//         --s-start-2: 3.985353824694249%;
//         --s-end-2: 47.580278608924694%;
//         --y-2: 104%;
//         --c-2: hsla(212.47058823529412, 0%, 50%, 1);
//         --x-3: 0%;
//         --c-3: hsla(224.44444444444437, 0%, 37%, 1);
//         --y-3: 60%;
//         --s-start-3: 2.391200382592061%;
//         --s-end-3: 29.307684556768592%;
//         --x-4: 31%;
//         --c-4: hsla(0, 0%, 9%, 0);
//         --s-start-4: 18.597054544690312%;
//         --s-end-4: 31%;
//         --y-4: 70%;
//         --s-start-5: 0%;
//         --s-end-5: 45%;
//         --c-5: rgba(240, 240, 240, 0.719);
//         --x-5: 26%;
//         --y-5: 9%;
//         --s-start-6: 2.9253667596993065%;
//         --s-end-6: 22.388851682060018%;
//         --y-6: 37%;
//         --c-6: hsla(248.30769230769235, 52%, 24%, 0);
//         --x-6: 92%;
//         --s-start-7: 13.173642363290591%;
//         --s-end-7: 31.747336520355095%;
//         --x-7: 101%;
//         --c-7: hsla(212.47058823529412, 100%, 50%, 0);
//         --y-7: 16%;
//         --x-8: 104%;
//         --c-8: hsla(166.53061224489795, 71%, 60%, 0);
//         --s-start-8: 3.985353824694249%;
//         --s-end-8: 13.103042116379756%;
//         --y-8: 56%;
//         --x-9: 90%;
//         --c-9: hsla(227.64705882352945, 58%, 3%, 0);
//         --y-9: 13%;
//         --s-start-9: 1%;
//         --s-end-9: 31%;
//         --x-10: 97%;
//         --c-10: hsla(219.20792079207592, 0%, 81%, 1);
//         --s-start-10: 18.597054544690312%;
//         --s-end-10: 31%;
//         --y-10: 19%;
//     }

//     100% {
//         --c-0: hsla(0, 0%, 92%, 0.85);
//         --y-0: 2%;
//         --x-0: 1%;
//         --s-start-0: 2.391200382592061%;
//         --s-end-0: 43.902064173373226%;
//         --s-start-1: 3%;
//         --s-end-1: 26.722813338714598%;
//         --c-1: hsla(0, 0%, 11%, 0.04);
//         --y-1: 103%;
//         --x-1: -2%;
//         --x-2: 33%;
//         --s-start-2: 2.391200382592061%;
//         --s-end-2: 32.0689540200964%;
//         --y-2: 82%;
//         --c-2: hsla(180, 0%, 50%, 1);
//         --x-3: 37%;
//         --c-3: rgb(231, 231, 231);
//         --y-3: 81%;
//         --s-start-3: 4.40642490323111%;
//         --s-end-3: 37.23528104246256%;
//         --x-4: 8%;
//         --c-4: hsla(0, 0%, 2%, 0);
//         --s-start-4: 5%;
//         --s-end-4: 21.32164536610654%;
//         --y-4: 89%;
//         --s-start-5: 9%;
//         --s-end-5: 54.805582404585024%;
//         --c-5: hsla(0, 0%, 86%, 1);
//         --x-5: 96%;
//         --y-5: 93%;
//         --s-start-6: 3%;
//         --s-end-6: 32.537089799783296%;
//         --y-6: 99%;
//         --c-6: hsla(271.9148936170212, 98%, 53%, 0);
//         --x-6: 54%;
//         --s-start-7: 6%;
//         --s-end-7: 42.501105312974815%;
//         --x-7: 104%;
//         --c-7: hsla(262.82352941176475, 100%, 50%, 0);
//         --y-7: 43%;
//         --x-8: 97%;
//         --c-8: hsla(180, 100%, 50%, 0);
//         --s-start-8: 2.391200382592061%;
//         --s-end-8: 27.141813016850573%;
//         --y-8: 30%;
//         --x-9: 104%;
//         --c-9: hsla(37.05882352941129, 0%, 16%, 0);
//         --y-9: -16%;
//         --s-start-9: 5%;
//         --s-end-9: 13.10107024898374%;
//         --x-10: 78%;
//         --c-10: hsla(219.2079207920822, 0%, 100%, 1);
//         --s-start-10: 5%;
//         --s-end-10: 21.32164536610654%;
//         --y-10: 4%;
//     }
// }

// @property --c-0 {
//     syntax: '<color>';
//     inherits: false;
//     initial-value: hsla(0, 0%, 100%, 0.67)
// }

// @property --y-0 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 93%
// }

// @property --x-0 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 93%
// }

// @property --s-start-0 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 14.489998991212337%
// }

// @property --s-end-0 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 72%
// }

// @property --s-start-1 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 2.9253667596993065%
// }

// @property --s-end-1 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 22.388851682060018%
// }

// @property --c-1 {
//     syntax: '<color>';
//     inherits: false;
//     initial-value: hsla(0, 0%, 7%, 0.55)
// }

// @property --y-1 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 90%
// }

// @property --x-1 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 89%
// }

// @property --x-2 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 40%
// }

// @property --s-start-2 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 3.985353824694249%
// }

// @property --s-end-2 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 47.580278608924694%
// }

// @property --y-2 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 104%
// }

// @property --c-2 {
//     syntax: '<color>';
//     inherits: false;
//     initial-value: hsla(212.47058823529412, 0%, 50%, 1)
// }

// @property --x-3 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 0%
// }

// @property --c-3 {
//     syntax: '<color>';
//     inherits: false;
//     initial-value: hsla(224.44444444444437, 0%, 37%, 1)
// }

// @property --y-3 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 60%
// }

// @property --s-start-3 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 2.391200382592061%
// }

// @property --s-end-3 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 29.307684556768592%
// }

// @property --x-4 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 31%
// }

// @property --c-4 {
//     syntax: '<color>';
//     inherits: false;
//     initial-value: hsla(0, 0%, 9%, 0)
// }

// @property --s-start-4 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 18.597054544690312%
// }

// @property --s-end-4 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 31%
// }

// @property --y-4 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 70%
// }

// @property --s-start-5 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 0%
// }

// @property --s-end-5 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 45%
// }

// @property --c-5 {
//     syntax: '<color>';
//     inherits: false;
//     initial-value: hsla(0, 0%, 94%, 1)
// }

// @property --x-5 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 26%
// }

// @property --y-5 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 9%
// }

// @property --s-start-6 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 2.9253667596993065%
// }

// @property --s-end-6 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 22.388851682060018%
// }

// @property --y-6 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 37%
// }

// @property --c-6 {
//     syntax: '<color>';
//     inherits: false;
//     initial-value: hsla(248.30769230769235, 52%, 24%, 0)
// }

// @property --x-6 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 92%
// }

// @property --s-start-7 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 13.173642363290591%
// }

// @property --s-end-7 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 31.747336520355095%
// }

// @property --x-7 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 101%
// }

// @property --c-7 {
//     syntax: '<color>';
//     inherits: false;
//     initial-value: hsla(212.47058823529412, 100%, 50%, 0)
// }

// @property --y-7 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 16%
// }

// @property --x-8 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 104%
// }

// @property --c-8 {
//     syntax: '<color>';
//     inherits: false;
//     initial-value: hsla(166.53061224489795, 71%, 60%, 0)
// }

// @property --s-start-8 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 3.985353824694249%
// }

// @property --s-end-8 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 13.103042116379756%
// }

// @property --y-8 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 56%
// }

// @property --x-9 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 90%
// }

// @property --c-9 {
//     syntax: '<color>';
//     inherits: false;
//     initial-value: hsla(227.64705882352945, 58%, 3%, 0)
// }

// @property --y-9 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 13%
// }

// @property --s-start-9 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 1%
// }

// @property --s-end-9 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 31%
// }

// @property --x-10 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 97%
// }

// @property --c-10 {
//     syntax: '<color>';
//     inherits: false;
//     initial-value: rgb(192, 192, 192)
// }

// @property --s-start-10 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 18.597054544690312%
// }

// @property --s-end-10 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 31%
// }

// @property --y-10 {
//     syntax: '<percentage>';
//     inherits: false;
//     initial-value: 19%
// }

// #about_avobe_logo_grad_animation {
//     --c-0: hsla(0, 0%, 100%, 0.67);
//     --y-0: 93%;
//     --x-0: 93%;
//     --c-1: hsla(0, 0%, 7%, 0.55);
//     --y-1: 90%;
//     --x-1: 89%;
//     --x-2: 40%;
//     --y-2: 104%;
//     --c-2: hsla(212.47058823529412, 0%, 50%, 1);
//     --x-3: 0%;
//     --c-3: hsla(224.44444444444437, 0%, 37%, 1);
//     --y-3: 60%;
//     --x-4: 31%;
//     --c-4: hsla(0, 0%, 9%, 0);
//     --y-4: 70%;
//     --c-5: hsla(0, 0%, 94%, 1);
//     --x-5: 26%;
//     --y-5: 9%;
//     --y-6: 37%;
//     --c-6: hsla(248.30769230769235, 52%, 24%, 0);
//     --x-6: 92%;
//     --x-7: 101%;
//     --c-7: hsla(212.47058823529412, 100%, 50%, 0);
//     --y-7: 16%;
//     --x-8: 104%;
//     --c-8: hsla(166.53061224489795, 71%, 60%, 0);
//     --y-8: 56%;
//     --x-9: 90%;
//     --c-9: hsla(227.64705882352945, 58%, 3%, 0);
//     --y-9: 13%;
//     --x-10: 97%;
//     --c-10: hsla(219.20792079207592, 0%, 81%, 1);
//     --y-10: 19%;
//     ;
//     background-color: hsla(300, 0%, 50%, 1);
//     background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4)), radial-gradient(circle at var(--x-5) var(--y-5), var(--c-5) var(--s-start-5), transparent var(--s-end-5)), radial-gradient(circle at var(--x-6) var(--y-6), var(--c-6) var(--s-start-6), transparent var(--s-end-6)), radial-gradient(circle at var(--x-7) var(--y-7), var(--c-7) var(--s-start-7), transparent var(--s-end-7)), radial-gradient(circle at var(--x-8) var(--y-8), var(--c-8) var(--s-start-8), transparent var(--s-end-8)), radial-gradient(circle at var(--x-9) var(--y-9), var(--c-9) var(--s-start-9), transparent var(--s-end-9)), radial-gradient(circle at var(--x-10) var(--y-10), var(--c-10) var(--s-start-10), transparent var(--s-end-10));
//     animation: hero-gradient-animation 10s ease infinite alternate-reverse;
//     background-blend-mode: normal, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal;
// }