.floating_orbs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;

  &.hidden {
    opacity: 0;
  }
}

.orb {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    rgba(250, 250, 255, 1) 0%,
    rgba(250, 250, 255, 0.5) 50%,
    rgba(250, 250, 255, 0) 100%
  );
  filter: blur(110px);
  will-change: transform;
  transform-origin: center center;
}
